*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --tile-size: 100px;
  --light-tile: #f0d8b7;
  --dark-tile: #b48764;
  font-family: "Mulish", sans-serif;
  background-color: #242424;
}

@media only screen and (max-width: 1366px) {
  :root {
    --title-size: 50px;
  }
}

img {
  display: block;
  max-width: 100%;
  min-height: auto;
  object-fit: cover;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}
